/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \******************************************************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  line-height: 1.4;
  background: #F3F2EF;
  color: #332827;
}

.section_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
}
.section_hero .hero_left {
  width: 35%;
  background: #332827;
  color: #F3F2EF;
  padding: 32px;
  height: 100%;
}
.section_hero .hero_left .hero_left_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section_hero .hero_left .hero_left_container .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section_hero .hero_left .hero_left_container .logo img {
  width: 200px;
}
.section_hero .scroll {
  cursor: pointer;
}
.section_hero .hero_title {
  text-align: center;
  margin: 24px 0;
}
.section_hero .hero_title h2 {
  font-size: 3vw;
  font-family: "mixta-sharp", serif;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 16px 0;
}
.section_hero .hero_title p {
  font-family: "mixta-pro", serif;
  font-style: italic;
}
.section_hero .hero_title p span {
  color: #F8D448;
  font-style: normal;
}
.section_hero .hero_description {
  padding: 24px 0;
  border-top: 1px solid #F3F2EF;
  font-size: 16px;
  text-align: center;
  margin-top: 32px;
}
.section_hero .hero_description p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
}
.section_hero .hero_right {
  width: 65%;
  height: 100%;
  overflow: hidden;
}
.section_hero .hero_right img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.social-list .line-divider {
  width: 70px;
  height: 1px;
  background: #F3F2EF;
  margin: 0 8px;
}

.section_text {
  margin: 80px 0;
}
.section_text .text_container {
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.section_text .text_container p {
  padding: 8px;
}
.section_text .text_container p strong {
  font-weight: bold;
}
.section_text .text_container p:not(:last-child) {
  margin-bottom: 32px;
}
.section_text .text_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  position: relative;
  z-index: -1;
}
.section_text .text_heading .line {
  width: 100%;
  height: 1px;
  background: #332827;
}
.section_text .text_heading .author-div {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section_text .text_heading .author-div .circle {
  height: 10px;
  width: 10px;
  background: #F8D448;
  border: 1px solid #332827;
  border-radius: 100%;
  margin: 0 8px;
}
.section_text .text_heading .author_name {
  font-family: "mixta-pro", serif;
  font-size: 16px;
  letter-spacing: 1px;
}
.section_text .text_heading .author_name span {
  font-style: italic;
  margin-right: 4px;
}

.drop {
  font-size: 300px;
  line-height: 300px;
  font-family: "mixta-pro", serif;
  font-style: italic;
  color: #F8D448;
  z-index: -1;
  position: absolute;
  top: -130px;
  left: 0px;
}

.section_quote {
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}
.section_quote h2 {
  font-family: "mixta-sharp", serif;
  text-transform: uppercase;
  position: relative;
  color: #357C70;
  font-size: 46px;
  line-height: 1.1;
  position: relative;
  z-index: 3;
}
.section_quote .drop {
  top: -150px;
  left: -50px;
  z-index: 2;
}

.quote_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #A6A5A3;
  margin-top: 16px;
}
.quote_footer .line {
  height: 1px;
  width: 100%;
  background: #F8D448;
  margin: 0 8px;
}
.quote_footer span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  white-space: nowrap;
}

.top_label {
  position: absolute;
  top: -30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8D448;
  border: 2px solid #332827;
  border-left: 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.top_label h4 {
  margin: 0 8px;
}
.top_label .icon {
  background: #332827;
  height: 30px;
  width: 30px;
  padding: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left_align {
  left: 16px;
}

.right_align {
  right: calc((100% - 950px) / 2);
}

.half_align {
  left: 50%;
}

.bottom_align {
  top: -1px;
}

.info_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #332827;
  border-bottom: 2px solid #332827;
  position: relative;
}
.info_one .info_left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info_one .info_left .info_left_space {
  width: 16px;
  background: #F8D448;
}
.info_one .info_quote_container {
  position: relative;
}
.info_one .info_right {
  width: 50%;
  border-left: 2px solid #332827;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 48px;
}
.info_one .info_right .drop {
  font-size: 200px;
  top: -135px;
  left: -35px;
  z-index: 2;
}
.info_one .info_right h2 {
  font-family: "mixta-sharp", serif;
  text-transform: uppercase;
  position: relative;
  color: #357C70;
  font-size: 35px;
  line-height: 1.1;
  position: relative;
  z-index: 3;
}
.info_one .info_right .top_label {
  top: -2px;
}

.info_left_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 16px);
  border-left: 2px solid #332827;
}
.info_left_container .numbers_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.info_left_container .info_container {
  background: #357C70;
  padding: 24px 16px;
  border-top: 1px solid #F3F2EF;
}
.info_left_container .info_container img {
  margin: 0 auto;
}

.label_box {
  background: #F8D448;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px solid #332827;
}
.label_box svg {
  margin-bottom: 8px;
  padding: 3px;
  background: #332827;
  width: 20px;
  height: 20px;
}
.label_box h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.col_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.col_num:nth-child(2) .num_box, .col_num:nth-child(5) .num_box {
  border-left: 2px solid #332827;
  border-right: 2px solid #332827;
}
.col_num:nth-child(2) .num_data, .col_num:nth-child(5) .num_data {
  border-left: 1px solid #F3F2EF;
  border-right: 1px solid #F3F2EF;
}
.col_num:nth-child(2) .num_data {
  border-left: 2px solid #332827;
}
.col_num .num_box {
  padding: 16px;
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
  white-space: nowrap;
  text-transform: uppercase;
}
.col_num .num_box span {
  font-size: 25px;
}
.col_num .num_data {
  background: #332827;
  padding: 8px;
  height: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F3F2EF;
  font-size: 13px;
}
.col_num .num_data span {
  color: #F8D448;
  margin-top: 5px;
}

.info_two {
  position: relative;
  padding: 80px 9vw;
  background: #357C70;
  border-top: 2px solid #332827;
}
.info_two img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.black_section {
  margin: 0;
  padding: 80px 0;
  background: #332827;
  color: #F3F2EF;
}
.black_section p {
  z-index: 2;
  position: relative;
}
.black_section .drop {
  color: #357C70;
  font-size: 200px;
  z-index: 1;
  top: -50px;
  left: 0;
  line-height: 200px;
}
.black_section .left_heading {
  font-size: 13px;
  border: 1px solid #F3F2EF;
  background: #357C70;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  left: -60px;
  top: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180DEG);
          transform: rotate(180DEG);
}
.black_section .left_heading p {
  padding: 16px 3px;
}

.banner_container img {
  min-width: 100%;
}

.info_three {
  position: relative;
}
.info_three .info_three_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info_three .info_col_left {
  background: #F8D448;
  width: calc((100% - 950px) / 2);
}
.info_three .info_col_right {
  background: #357C70;
  width: calc((100% - 950px) / 2);
}
.info_three .info_col_center {
  width: 950px;
  padding: 40px;
  padding-top: 80px;
  border-left: 2px solid #332827;
  border-right: 2px solid #332827;
  background: #357C70;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #332827;
  border-bottom: 2px solid #332827;
}
footer .footer_left {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
  padding-top: 13%;
  border-right: 2px solid #332827;
}
footer .footer_right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer_right .footer_col {
  border-bottom: 2px solid #332827;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
footer .footer_right .footer_col h5 {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
footer .footer_right .footer_col .footer_col_content {
  font-family: "mixta-sharp", serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #332827;
}
footer .footer_right .footer_col .footer_col_content a {
  color: #332827;
}
footer .footer_right .footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer_right .footer_bottom .footer_bottom_container {
  width: calc(100% - 80px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #332827;
}
footer .footer_right .footer_bottom .footer_bottom_container .footer_bottom_content {
  color: #332827;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}
footer .footer_right .footer_bottom .footer_bottom_container .footer_bottom_content a {
  color: #332827;
}
footer .footer_right .footer_bottom .scroll-top {
  background: #F8D448;
  border-left: 2px solid #332827;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  padding: 24px 16px;
}

.footer_left_container {
  width: 100%;
}

.card_container {
  position: relative;
  width: 100%;
  background: #F8D448;
  border-radius: 10px;
  border: 2px solid #332827;
}
.card_container:after {
  content: "";
  display: block;
  padding-bottom: 95%;
}
.card_container .card-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 16px;
}

.image_container {
  position: absolute;
  top: -25%;
  width: 60%;
  left: 20%;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #332827;
  -webkit-filter: drop-shadow(6px 8px 12px rgba(51, 40, 39, 0.4));
          filter: drop-shadow(6px 8px 12px rgba(51, 40, 39, 0.4));
}
.image_container img {
  min-width: 100%;
}

.card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #332827;
}
.card_content svg {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
}
.card_content h2 {
  font-size: 30px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-family: "mixta-sharp", serif;
  line-height: 1.1;
  max-width: 80%;
}
.card_content p {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card_content p .line {
  width: 50px;
  height: 1px;
  background: #332827;
  margin-right: 8px;
}

@media (min-width: 980px) and (max-width: 1200px) {
  .section_text .text_heading {
    margin-top: 64px;
  }

  .drop {
    font-size: 200px;
    top: -100px;
  }

  .section_quote .drop {
    left: -8px;
    top: -120px;
  }
  .section_quote .drop svg {
    width: 130px;
  }

  .info_one .info_right .drop {
    top: -145px;
    left: -8px;
  }
  .info_one .info_right .drop svg {
    width: 130px;
  }

  .info_one .info_right h2 {
    font-size: 30px;
  }

  .info_two {
    padding: 40px;
  }

  .black_section {
    padding-top: 120px;
  }
  .black_section .left_heading {
    -webkit-transform: none;
            transform: none;
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    left: 0;
    top: -75px;
  }
  .black_section .left_heading p {
    padding: 4px 16px;
  }
  .black_section .drop {
    font-size: 170px;
    top: -55px;
  }

  .info_three .info_col_center img.hide_desktop, .info_three .info_col_center svg.hide_desktop {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 981px) {
  .hide_desktop {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .hide_mobile {
    display: none;
  }

  body {
    font-size: 16px;
  }

  .drop {
    line-height: 200px;
    font-size: 200px;
    left: 16px;
    top: -100px;
  }

  .top_label h4 {
    font-size: 11px;
    letter-spacing: 0;
  }

  .section_hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .section_hero .hero_left {
    width: 100%;
    padding: 16px;
  }
  .section_hero .hero_left .hero_title h2 {
    font-size: 35px;
  }
  .section_hero .hero_left .hero_left_container {
    padding: 16px 0;
  }
  .section_hero .hero_right {
    width: 100%;
  }

  .section_hero .hero_left .hero_left_container .logo img {
    width: 160px;
  }

  .section_text {
    margin: 48px 0;
  }
  .section_text .text_heading {
    padding-right: 16px;
  }
  .section_text .text_container p {
    padding: 0 16px;
  }

  .section_quote h2 {
    font-size: 30px;
    line-height: 1.2;
  }
  .section_quote .drop {
    top: -65px;
    left: 8px;
  }

  .banner_container {
    height: 100vw;
  }
  .banner_container img {
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .label_box {
    border-right: 2px solid #332827;
  }

  .info_one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 16px;
    border-top: 0;
    border-bottom: 0;
  }
  .info_one .info_left {
    border: 2px solid #332827;
    width: 100%;
  }
  .info_one .info_left .top_label {
    top: -28px;
  }
  .info_one .info_left .info_left_space {
    display: none;
  }
  .info_one .info_left .info_left_container {
    width: 100%;
    border: 0;
  }
  .info_one .info_left .info_left_container .numbers_grid {
    grid-template-columns: 50% 50%;
  }
  .info_one .info_right {
    width: 100%;
    padding: 32px 8px;
    padding-top: 80px;
    border-right: 2px solid #332827;
    border-bottom: 2px solid #332827;
    position: relative;
  }
  .info_one .info_right .top_label {
    left: -1px;
    top: -2px;
  }
  .info_one .info_right h2 {
    font-size: 28px;
    line-height: 1.25;
  }
  .info_one .info_right .drop {
    font-size: 200px;
    top: -60px;
    left: -15px;
  }
  .info_one .quote_footer span {
    white-space: normal;
  }
  .info_one .info_quote_container {
    width: 100%;
  }

  .col_num:nth-child(2) .num_box, .col_num:nth-child(5) .num_box {
    border: 0;
  }

  .col_num:nth-child(2) .num_data, .col_num:nth-child(5) .num_data {
    border: 0;
  }

  .col_num:nth-child(1) .num_box, .col_num:nth-child(3) .num_box, .col_num:nth-child(5) .num_box {
    border-right: 2px solid #332827;
  }
  .col_num:nth-child(1) .num_data, .col_num:nth-child(3) .num_data, .col_num:nth-child(5) .num_data {
    border-right: 1px solid #F3F2EF;
  }

  .col_num .num_data {
    font-size: 12px;
  }

  .col_num .num_box {
    font-size: 28px;
  }
  .col_num .num_box span {
    font-size: 20px;
  }

  .info_left_container .info_container {
    padding-left: 0;
  }

  .black_section {
    margin: 0;
    padding-top: 120px;
  }
  .black_section .left_heading {
    left: 16px;
    -webkit-transform: none;
            transform: none;
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    top: -70px;
  }
  .black_section .left_heading p {
    padding: 4px 16px;
  }
  .black_section .drop {
    left: 16px;
  }

  .info_two {
    padding: 0;
  }
  .info_two .top_label {
    top: -30px;
  }
  .info_two .info_two_container {
    overflow-x: scroll;
    position: relative;
    padding: 32px 0;
  }
  .info_two .info_two_container img, .info_two .info_two_container svg {
    padding: 24px 16px;
    min-width: 1200px;
  }

  .info_three.second .top_label {
    left: 0;
    width: 100%;
  }
  .info_three .info_col_center {
    padding: 8px;
    padding-top: 64px;
  }
  .info_three .info_col_center .top_label {
    position: unset;
    width: 100%;
    margin: 32px 0;
  }
  .info_three .info_col_center .top_label svg {
    padding: 0 !important;
  }
  .info_three .info_col_center img, .info_three .info_col_center svg {
    width: 100%;
  }
  .info_three .info_col_center img.hide_desktop, .info_three .info_col_center svg.hide_desktop {
    padding: 16px 16px;
  }

  .info_three .info_col_center img.hide_desktop, .info_three .info_col_center svg.hide_desktop {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_left {
    width: 100%;
    border-right: 0;
    border-bottom: 2px solid #332827;
    padding: 15% 16px;
  }
  footer .footer_right {
    width: 100%;
  }

  .card_container:after {
    padding-bottom: 110%;
  }
}
