/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \******************************************************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Mattone";
  src: url(../images/design/Mattone-150.1ccf8b.woff) format("woff"), url(../images/design/Mattone-150.9cda90.woff2) format("woff2");
}
body {
  font-family: "aktiv-grotesk", sans-serif;
  font-size: 22px;
}

.text_container {
  line-height: 1.6;
}

strong {
  font-weight: 600;
}

canvas {
  cursor: pointer;
}

.hero_section {
  height: calc(100vh - 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
  overflow: hidden;
  border-bottom: 1px solid #282928;
}
@media screen and (max-width: 768px) {
  .hero_section {
    height: auto;
  }
}

.hero_header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero_header_wrapper .header_left {
  width: 66.66%;
  padding-right: 0;
}
.hero_header_wrapper .header_left .hero_header_container {
  border-right: 0;
}
.hero_header_wrapper .header_right {
  width: 33.33%;
  background: #282928;
  padding: 24px;
  padding-bottom: 0;
  padding-left: 0;
}
.hero_header_wrapper .header_right .hero_header_container {
  border: 1px solid #282928;
  border-bottom: none;
  border-left: 0;
  border-color: #F3F1E4;
  padding-bottom: 32px;
}
.hero_header_wrapper .header_right .box_white {
  height: 62px;
  border-bottom: 1px solid #F3F1E4;
}
@media screen and (max-width: 768px) {
  .hero_header_wrapper .hero_header_container {
    border-right: 1px solid #282928 !important;
  }
  .hero_header_wrapper .hero_header {
    padding: 8px;
    padding-bottom: 0;
  }
  .hero_header_wrapper .header_right {
    display: none;
  }
  .hero_header_wrapper .header_left {
    width: 100%;
  }
}

.hero_header {
  padding: 24px;
  padding-bottom: 0;
  background: #50B29B;
}
.hero_header .hero_logo {
  border-bottom: 1px solid #282928;
  padding: 16px;
}
.hero_header .hero_header_container {
  border: 1px solid #282928;
  border-bottom: none;
  padding-bottom: 32px;
}
.hero_header .hero_header_container img {
  width: 200px;
}
@media screen and (max-width: 768px) {
  .hero_header .hero_logo {
    border-color: #F3F1E4;
  }
  .hero_header .hero_header_container {
    padding-bottom: 16px;
    border-color: #F3F1E4 !important;
  }
  .hero_header .hero_header_container img {
    width: 150px;
  }
}

.hero_container {
  margin: 0 24px;
  background: #F3F1E4;
  border: 1px solid #282928;
  border-bottom: 0;
  border-top: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero_container .hero_text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
}
.hero_container .hero_text h1 {
  font-size: 5vw;
  line-height: 1.2;
  font-family: "Mattone", sans-serif;
  margin-bottom: 24px;
}
.hero_container .hero_text h1 span {
  color: #50B29B;
}
.hero_container .hero_text .hero_description {
  line-height: 1.6;
}
.hero_container .hero_text .hero_description a {
  color: #50B29B;
}
.hero_container .hero_text .hero_description span {
  font-weight: 600;
  white-space: nowrap;
}
.hero_container .hero_text .hero_description .arrow_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px;
}
.hero_container .hero_text .hero_description .arrow_row img {
  margin-right: 8px;
}
.hero_container .hero_text .hero_description .sub-desc {
  margin-top: 24px;
  font-family: "Mattone", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}
.hero_container .hero_text {
  width: calc(66.66vw - 5px);
  border-right: 1px solid #282928;
  padding: 16px;
}
.hero_container .hero_animation {
  width: 33.33%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .hero_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 8px;
  }
  .hero_container .hero_text {
    width: 100%;
    border-right: 0;
  }
  .hero_container .hero_text h1 {
    font-size: 38px;
    line-height: 1.3;
  }
  .hero_container .hero_text .hero_description {
    line-height: 1.4;
    font-size: 18px;
  }
  .hero_container .hero_text .hero_description .sub-desc {
    margin-bottom: 72px;
  }
  .hero_container .hero_animation {
    width: 100%;
    height: 33vh;
    border-top: 1px solid #282928;
    pointer-events: none;
  }
}

.hero_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero_footer .social_list {
  margin-left: 16px;
  cursor: pointer;
}
.hero_footer .social_list:hover #rect_hover {
  fill: #50B29B;
}
.hero_footer .arrow_down {
  cursor: pointer;
}
.hero_footer .arrow_down:hover #rect_hover {
  fill: #50B29B;
}

#rect_hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.text_section {
  margin: 0 24px;
  border: 1px solid #282928;
  border-top: 0;
  position: relative;
}
.text_section .text_section_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #282928;
}
.text_section .text_section_header .col_left {
  width: 25%;
  padding: 10px;
  background: #50B29B;
  text-align: center;
  color: white;
  border-right: 1px solid #282928;
  border-bottom: 1px solid #282928;
  font-family: "Mattone";
  text-transform: uppercase;
  font-size: 16px;
}
.text_section .text_section_header .col_left span {
  font-size: 12px;
}
.text_section .text_section_header .col_right {
  width: 75%;
  padding: 10px;
  background: #282928;
}
@media screen and (max-width: 768px) {
  .text_section {
    margin: 0 8px;
  }
}

.approfondimento {
  width: calc(100% + 48px);
  margin-left: -24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.approfondimento h4 {
  font-size: 14px;
}
.approfondimento .approfondimento_cta_container {
  width: 100%;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.approfondimento .approfondimento_cta_container .button_approfondimento {
  min-width: 200px;
  margin: 0 8px;
  position: relative;
  background: #50B29B;
  border-radius: 100px;
  border: 1px solid #282928;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
}
.approfondimento .approfondimento_cta_container .button_approfondimento span {
  padding-left: 16px;
}
.approfondimento .approfondimento_cta_container .button_approfondimento svg {
  position: absolute;
  left: 16px;
  top: -6px;
  cursor: pointer;
}
.approfondimento .approfondimento_cta_container .button_approfondimento svg:hover circle {
  fill: #F5C443;
}
.approfondimento .approfondimento_cta_container .line {
  width: 100%;
  height: 1px;
  background: #282928;
}

.after:after {
  content: "";
  position: absolute;
  top: -1px;
  right: -24px;
  width: 24px;
  height: calc(100% + 2px);
  border-top: 1px solid #282928;
  border-bottom: 1px solid #282928;
  border-left: 1px solid #282928;
}
.after.purple:after {
  background: #50B29B;
}
.after.white:after {
  background: #F3F1E4;
}

.before:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -24px;
  width: 24px;
  height: calc(100% + 2px);
  border-top: 1px solid #282928;
  border-bottom: 1px solid #282928;
  border-right: 1px solid #282928;
}
.before.black:before {
  background: #282928;
}
.before.white:before {
  background: #F3F1E4;
}

.text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text_container .col_left {
  width: 25%;
  padding: 0 24px;
  background: #F3F1E4;
  border-right: 1px solid #282928;
  text-align: right;
  font-family: "Mattone";
  text-transform: uppercase;
  font-size: 16px;
}
.text_container .col_left h3 {
  position: relative;
}
.text_container .col_left h3:after {
  content: "";
  position: absolute;
  right: -36px;
  height: 1px;
  background: black;
  width: 25px;
  top: 12px;
}
.text_container .col_right {
  width: 75%;
  padding: 48px 16px;
}
.text_container .col_right p:not(:last-child) {
  margin-bottom: 24px;
}
.text_container .col_right p {
  max-width: 900px;
  margin: 0 auto;
}
.text_container .col_right .text_arrow_row {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text_container .col_right .text_arrow_row .arrow_left {
  margin-right: 24px;
}
.text_container.p-top .col_left {
  padding-top: 32px;
}
.text_container.p-top .col_right {
  padding-top: 72px;
}

.info_section {
  margin: 0 24px;
  border-left: 1px solid #282928;
  border-top: 0;
  position: relative;
}
.info_section.numbers .numbers_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .info_section {
    margin: 0 8px;
  }
  .info_section.numbers .numbers_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.levels {
  margin-top: 16px;
}
.levels .level_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.levels .level {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  border-radius: 10px;
  height: 5px;
}
.levels .level.green {
  background: #50B29B;
}
.levels .level.yellow {
  background: #F5C443;
}
.levels p {
  font-size: 14px !important;
}

.number_card {
  padding: 48px 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-bottom: 1px solid #282928;
  border-right: 1px solid #282928;
  min-height: 25vh;
}
.number_card .num {
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 16px;
}
.number_card .num span {
  font-size: 16px;
}
.number_card p {
  font-size: 20px;
  line-height: 1.4;
}
.number_card.legenda {
  background: #282928;
  color: white;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.number_card.legenda h3 {
  font-family: "Mattone";
  text-transform: uppercase;
  font-size: 16px;
}
.number_card:after {
  content: "";
  position: absolute;
  bottom: 0;
  border-top: 1px solid #282928;
  width: 100%;
  height: 8px;
}
.number_card.green:after {
  background: #50B29B;
}
.number_card.yellow:after {
  background: #F5C443;
}

.grid_metodo {
  margin: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-left: 1px solid #282928;
}
@media screen and (max-width: 768px) {
  .grid_metodo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.metodo_card {
  padding: 48px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  border-right: 1px solid #282928;
  border-bottom: 1px solid #282928;
  min-height: 25vh;
}
.metodo_card img {
  position: absolute;
  top: calc(50% - 18px);
  right: -18px;
  z-index: 2;
}
.metodo_card.black {
  background: #282928;
  color: white;
  font-family: "Mattone";
  text-transform: uppercase;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.metodo_card.purple {
  background: #50B29B;
}
.metodo_card.white {
  background: #F3F1E4;
}
.metodo_card .metodo_card_container {
  position: relative;
  font-size: 20px;
}
.metodo_card .metodo_count {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #282928;
  width: 22px;
  height: 22px;
  padding: 3px;
  border-radius: 100%;
  color: white;
  font-family: "Mattone", sans-serif;
  font-size: 12px;
  line-height: 1;
}
.metodo_card .small_text {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 8px;
}

.infografica {
  border-right: 1px solid #282928;
  border-bottom: 1px solid #282928;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.infografica img, .infografica svg {
  min-width: 100%;
  height: auto;
  padding: 0 4vw;
}

.section_split {
  margin: 0 24px;
  border: 1px solid #282928;
  border-top: 0;
}
.section_split .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.section_split .reverse .split_title {
  border-left: 0 !important;
  border-right: 1px solid #282928;
}
.section_split .split_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #282928;
  border-top: 1px solid #282928;
}
.section_split .split_header .header_text {
  width: 75%;
  padding: 10px;
  background: #F3F1E4;
}
.section_split .split_header .header_title {
  width: 25%;
  text-align: center;
  padding: 10px;
  background: #282928;
  font-family: "Mattone";
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}
.section_split .split_col_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section_split .split_col_container .split_text {
  width: 75%;
  padding: 72px 16px;
  line-height: 1.6;
}
.section_split .split_col_container .split_text p:not(:last-child) {
  margin-bottom: 48px;
}
.section_split .split_col_container .split_text p {
  max-width: 900px;
  margin: 0 auto;
}
.section_split .split_col_container .split_title {
  width: 25%;
  background: #50B29B;
  border-left: 1px solid #282928;
}

.section_marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 48px 0;
  border-top: 1px solid #282928;
  border-bottom: 1px solid #282928;
  line-height: 1.4;
}
.section_marquee .col_black {
  width: 15%;
  background: #282928;
}
.section_marquee .marquee_text_container {
  width: 65%;
  overflow: hidden;
  border-left: 1px solid #282928;
  border-right: 1px solid #282928;
}
.section_marquee .marquee_text_container .header_marquee {
  border-bottom: 1px solid #282928;
  padding: 8px 0;
  font-family: "Mattone";
  text-transform: uppercase;
  font-size: 16px;
}
.section_marquee .marquee_text_container .marquee_text {
  padding: 72px 24px;
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
}
.section_marquee .marquee_text_container .marquee_text p:not(:last-child) {
  margin-bottom: 24px;
}
.section_marquee .col_green {
  width: 20%;
  background: #50B29B;
}

.section_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 48px 0;
  border-top: 1px solid #282928;
  border-bottom: 1px solid #282928;
}
.section_video .col_black {
  width: 15%;
  background: #282928;
}
.section_video .col_white {
  width: 20%;
  background: #F3F1E4;
  border-left: 1px solid #282928;
}
.section_video .col_video {
  width: 65%;
}
.section_video .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.section_video .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #282928;
}
.modal .modal_container {
  height: 100vh;
  overflow: scroll;
}
.modal .modal_container .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.modal .modal_container .text_container .col_left {
  background: #282928;
  color: #F3F1E4;
  padding: 144px 8px;
  position: relative;
}
.modal .modal_container .text_container .col_left h3 {
  position: absolute;
  top: 48px;
  left: 16px;
}
.modal .modal_container .text_container .col_left h3:after {
  content: none;
}
.modal .modal_container .text_container .col_right {
  background: #F3F1E4;
  color: #282928;
  border-right: 24px solid #282928;
  padding-top: 144px;
}
.modal .modal_container .close {
  position: absolute;
  top: 48px;
  right: -8px;
  cursor: pointer;
}

.footer_top {
  margin: 0 24px;
  margin-top: 72px;
  border: 1px solid #282928;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F3F1E4;
}
.footer_top .footer_col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 24px 16px;
}
.footer_top .footer_col h5 {
  font-size: 14px;
  margin-bottom: 24px;
}
.footer_top .footer_col .footer_col_content {
  font-family: "Mattone";
  text-transform: uppercase;
  font-size: 16px;
  font-size: 22px;
}
.footer_top .footer_col .footer_col_content a {
  color: #282928;
}
.footer_top .footer_col:first-child {
  text-align: left;
}
.footer_top .footer_col:last-child {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .footer_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 8px;
    margin-top: 48px;
    background: white;
  }
}

.footer_bottom {
  background: #282928;
}
.footer_bottom .footer_bottom_container {
  margin: 0 24px;
  padding: 16px 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: center;
}
.footer_bottom .footer_bottom_container .footer_bottom_content {
  padding: 16px;
  border-top: 1px solid #F3F1E4;
  width: 100%;
  font-family: "Mattone";
  text-transform: uppercase;
  font-size: 16px;
  font-size: 14px;
  color: #F3F1E4;
}
.footer_bottom .footer_bottom_container .footer_bottom_content a {
  color: #F3F1E4;
}
@media screen and (max-width: 768px) {
  .footer_bottom .footer_bottom_container {
    margin: 0 8px;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .after:after {
    right: -8px;
    width: 8px;
  }

  .number_card:after {
    content: none;
  }

  .hero_container .hero_text .hero_description .arrow_row {
    display: inline-block;
    margin-left: 0;
  }
  .hero_container .hero_text .hero_description .arrow_row img {
    display: none;
  }

  .infografica svg {
    padding: 24px 8px;
  }

  .text_section .text_section_header .col_left {
    width: 100%;
  }
  .text_section .text_section_header .col_right {
    display: none;
  }
  .text_section .text_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text_section .text_container .col_left {
    width: 100%;
    text-align: center;
    padding: 16px;
    border-right: 0;
    border-bottom: 1px solid #282928;
  }
  .text_section .text_container .col_left h3 {
    font-size: 14px;
  }
  .text_section .text_container .col_left h3:after {
    content: none;
  }
  .text_section .text_container .col_right {
    width: 100%;
    padding: 24px 8px;
  }
  .text_section .text_container .col_right p, .text_section .text_container .col_right .text_arrow_paragraph {
    font-size: 18px;
    line-height: 1.4;
  }
  .text_section .text_container .col_right .text_arrow_paragraph {
    margin-bottom: 16px;
  }

  .number_card {
    padding: 24px 16px;
    min-height: 20vh;
  }
  .number_card p {
    font-size: 18px;
  }
  .number_card.legenda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .number_card.legenda h3 {
    font-size: 12px;
    width: 50%;
  }
  .number_card.legenda .levels {
    margin-top: 0;
  }
  .number_card.legenda .levels .level_row:first-child {
    margin-bottom: 24px;
  }

  .grid_metodo {
    margin: 0 8px;
  }
  .grid_metodo .metodo_card {
    min-height: 25vh;
    padding: 40px 16px;
  }
  .grid_metodo .metodo_card .metodo_card_container {
    font-size: 18px;
  }
  .grid_metodo .metodo_card.black {
    min-height: unset;
  }
  .grid_metodo .metodo_card.black .metodo_card_container {
    font-size: 12px;
  }
  .grid_metodo .metodo_card img {
    top: unset;
    bottom: -18px;
    right: calc(50% - 18px);
    -webkit-transform: rotate(90DEG);
            transform: rotate(90DEG);
  }
  .grid_metodo .metodo_card:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .grid_metodo .metodo_card:nth-child(1) img {
    display: none;
  }
  .grid_metodo .metodo_card:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .grid_metodo .metodo_card:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .grid_metodo .metodo_card:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .grid_metodo .metodo_card:nth-child(4) img {
    -webkit-transform: rotate(-90DEG);
            transform: rotate(-90DEG);
  }
  .grid_metodo .metodo_card:nth-child(8) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .grid_metodo .metodo_card:nth-child(8) img {
    -webkit-transform: rotate(-90DEG);
            transform: rotate(-90DEG);
  }
  .grid_metodo .metodo_card:nth-child(5) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .grid_metodo .metodo_card:nth-child(5) img {
    display: none;
  }
  .grid_metodo .metodo_card:nth-child(6) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .grid_metodo .metodo_card:nth-child(6) img {
    -webkit-transform: rotate(-90DEG);
            transform: rotate(-90DEG);
  }
  .grid_metodo .metodo_card:nth-child(7) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .grid_metodo .metodo_card:nth-child(7) img {
    -webkit-transform: rotate(-90DEG);
            transform: rotate(-90DEG);
  }

  .section_video .col_black, .section_video .col_white {
    display: none;
  }
  .section_video .col_video {
    width: 100%;
  }

  .section_marquee .col_black, .section_marquee .col_green {
    width: 8px;
  }
  .section_marquee .marquee_text_container {
    width: calc(100% - 16px);
  }
  .section_marquee .marquee_text_container .marquee_text {
    padding: 24px 8px;
  }
  .section_marquee .marquee_text_container .marquee_text p {
    font-size: 18px;
    line-height: 1.4;
  }

  .desktop {
    display: none;
  }

  .mobile_heading {
    border-top: 1px solid #282928;
    border-bottom: 1px solid #282928;
  }

  .approfondimento {
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  .modal {
    background: white;
  }
  .modal .modal_container {
    margin: 0 8px;
    margin-bottom: 8px;
    border-left: 1px solid #282928;
    border-right: 1px solid #282928;
  }
  .modal .modal_container .close {
    top: 25px;
    z-index: 10;
  }
  .modal .modal_container .close svg {
    width: 110px;
  }
  .modal .modal_container .text_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal .modal_container .text_container .col_left {
    width: 100%;
    padding: 0;
  }
  .modal .modal_container .text_container .col_left .modal_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px;
  }
  .modal .modal_container .text_container .col_left .modal_header h4 {
    font-size: 11px;
    margin-right: 8px;
  }
  .modal .modal_container .text_container .col_left .modal_header h3 {
    position: relative;
    top: unset;
    left: unset;
  }
  .modal .modal_container .text_container .col_left .modal_header h3 svg {
    display: none;
  }
  .modal .modal_container .text_container .col_right {
    width: 100%;
    padding: 16px 8px;
    padding-top: 24px;
    border-right: 0;
  }
  .modal .modal_container .text_container .col_right p {
    font-size: 18px;
  }
}
