@font-face {
    font-family: 'Everett-Light';
    src: url('../fonts/Everett-Light-web.woff') format('woff'),
         url('../fonts/Everett-Light-web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
   }

 @font-face {
   font-family: 'Everett-Regular';
   src: url('../fonts/Everett-Regular-web.woff') format('woff'),
        url('../fonts/Everett-Regular-web.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
  }


$size_text: 21px;
$size_small: 16px;
$size_heading: 60px;
$size_subtitle: 32px;
$size_number: 250px;
$size_section_title: 60px;
$size_slide: 6vw;

$size_small_mobile: 14px;

$sans: 'Everett-Light', sans-serif;
$serif: "Playfair Display", serif;

@mixin text{
  font-family: $sans;
  font-size: $size_text;
  font-weight: 100;
}

@mixin heading{
  font-family: $serif;
  font-size: $size_heading;
  font-weight: 400;
  font-style: italic;
}

@mixin slideshow{
  font-family: $serif;
  font-size: $size_slide;
  font-weight: 400;
  font-style: normal;
}


@mixin subtitle{
  font-family: $sans;
  font-size: $size_subtitle;
  font-weight: 100;
}

@mixin number{
  font-family: $serif;
  font-size: $size_number;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
}

@mixin section_title{
  font-family: $sans;
  font-size: $size_section_title;
  font-weight: 100;
  font-style: normal;
}
@mixin small{
  font-family: $sans;
  font-size: $size_small;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

body{
  @include text;
  line-height: 1.5;
}
