
    @font-face {
    font-family: 'HK-Light';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/HKGrotesk-Light.woff') format('woff');
    }


    @font-face {
    font-family: 'HK-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/HKGrotesk-Medium.woff') format('woff');
    }


    @font-face {
    font-family: 'HK-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/HKGrotesk-Bold.woff') format('woff');
    }

    @font-face {
    font-family: 'HK-Black';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/HKGrotesk-Black.woff') format('woff');
    }
