@font-face {
  font-family: "apfel-reg";
  src: url("./assets/ApfelGrotezk-Regular.woff2") format("woff2"),
       url("./assets/ApfelGrotezk-Regular.woff") format("woff");
}
@font-face {
  font-family: "apfel-bold";
  src: url("./assets/ApfelGrotezk-Fett.woff2") format("woff2"),
       url("./assets/ApfelGrotezk-Fett.woff") format("woff");
}
