
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div, section{
  box-sizing: border-box;
}

*{
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// VARIABLES

$spacing: 8px;
$black: #040E14;
$red: #D31B33;
$white: #FBF9F4;
$grey: #525252;

$fontTitle: 'Oranienbaum', serif;
$termina: "Termina", sans-serif;

$sizeTitle: 5vw;
$sizeText: 22px;
$sizecaption: 14px;

$contL: 1100px;
$contM: 1000px;
$contS: 900px;

body{
	font-family: 'Lora', serif;
	font-size: $sizeText;
	line-height: 1.4;
	background: $white;
	color:$black;
}

strong{
	font-weight: 500;
}

.dropcap{
	line-height: 0.9;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

// policy
.iubenda-cs-container{
	em{
		-webkit-text-stroke-width: unset;
    -webkit-text-fill-color: unset;
	}
}

// text animation
.animation-text, .animation-text-hero{
	overflow:hidden;
}
.split-line {
  overflow: hidden;
}
// video

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero{
	color:$white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: $spacing*3;
	.occhiello{
		font-family: $termina;
		text-transform: uppercase;
		font-size: 18px;
		display: flex;
		align-items:center;
		span{margin: 0 $spacing*2;}
	}
	.hero-footer{
		z-index: 2;
		margin-bottom: -15px;
		cursor: pointer;
		.scroll{
			display: flex;
			align-items: center;
			span{
				background: $white;
				font-size: $sizecaption;
				line-height: 1;
				font-family: $termina;
				text-transform: uppercase;
				color: $black;
				margin-left: $spacing;
				padding: 10px $spacing*2;
				border-radius: 60px;
				border:1px solid $white;
				&:hover{
					background: $black;
					color:white;
					border:1px solid $black;
				}
			}
		}
	}
	.hero-background{
		background: $black;
		height: 100vh;
		position: absolute;
		width: calc(100% - 32px);
		left: $spacing*4;
		z-index: -1;
		top:0;
	}
	.title{
		width:80%;
		margin: $spacing*5 auto;
		h1{
			font-size: $sizeTitle;
			font-family: $fontTitle;
			line-height: 1;
			text-transform: uppercase;
			margin: $spacing*2 auto;
		}
		p{font-size: 19px;}
		.number{
			font-family: $fontTitle;
			font-size: 2vw;
			padding: $spacing/2 $spacing;
			border: 1px solid $white;
			line-height: 1;
		}
	}
	.image-container{
		margin-top: 0;
	}
	.zoom-image{
		.zoom-container{
			display: flex;
			overflow: hidden;
		}
	}
}



.menu-full{
	position: fixed;
	opacity: 0;
	visibility: hidden;
	height: 100vh;
	width: calc(100% - 212px);
	background: $black;
	left: 212px;
	z-index: 999;
	display: flex;
	flex-direction: column;
	color:$white;
	.menu-container{
		height: 100%;
	}
	.menu-title{
		padding: $spacing*3;
		margin-bottom: $spacing*2;
		h3{
			font-family: $termina;
			text-align: center;
			justify-content: center;
			text-transform: uppercase;
			font-size: 18px;
			display: flex;
			align-items:center;
			span{margin: 0 $spacing*2;}
		}
	}

	.link-menu-container{
		color:white;
		text-decoration: none;
	}
	.menu-row{
		padding: 0 $spacing*5;
		height: 100%;
		.link-wrapper{
			border: 1px solid $white;
			border-bottom: 1px solid $white;
			height: 100%;
			display: flex;
			.menu-item{
				flex:1;
				padding: $spacing*2;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				&:nth-child(2){
					border-left: 1px solid $white;
					border-right: 1px solid $white;
				}
				&.disabled{
					pointer-events: none;
					color:$grey;
					.number, .menu-item-footer span{border-color: $grey;}

				}
				.number{
					font-family: $fontTitle;
					font-size: 2vw;
					padding: $spacing/2 $spacing;
					border: 1px solid $white;
					display: inline-block;
					line-height: 1;
				}
				.menu-item-title{
					font-size: 2.5vw;
					font-family: $fontTitle;
					line-height: 1.1;
					text-transform: uppercase;
					margin: $spacing*3 auto;
					margin-top: $spacing*4;
				}
				p{
					font-size: 16px;
					margin-bottom: $spacing*4;
				}
				.menu-item-footer{
					display: flex;
					align-items: center;
					justify-content: center;
					span{
						font-size: 12px;
						padding: $spacing $spacing*2;
						border: 1px solid $white;
						border-radius: 60px;
						font-family: $termina;
						margin-right: $spacing;
					}
					a{
						display: flex;
						height: 100%;
					}
					img{
						width:100%;
						height: 100%;
					}
				}
			}
		}
	}
}

.menu-fixed{
	min-width:180px;
	display: flex;
	flex-direction: column;
	background: $black;
	color:$white;
	padding: $spacing*2;
	position:sticky;
	top:0;
	height: 100vh;
	margin-left: $spacing*4;
	.menu-container{
		height: 100%;
		border:1px solid $white;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		.logo{
			min-height: 146px;
			width:100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom:1px solid $white;
			padding: $spacing*2;
			img{
				width: 80%;
				height: auto;
			}
			a{
				width:100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.navigation{
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items:center;
			justify-content: space-between;
			.menu-toggle{
				text-align: center;
				font-family: $termina;
				font-size: $sizecaption;
				display: flex;
				flex-direction: column;
				cursor: pointer;
				width:100%;
				padding: $spacing*3;
				.close{display: none;}
				.open{display: block;}
				&.active{
					svg{
						transform: rotate(45DEG);
					}
					.close{display: block; text-decoration: none;}
					.open{display: none;}
				}
				svg{
					width: 100%;
					transition: .25s ease;
					height: auto;
				}
				span{text-decoration: underline; margin-top: $spacing;}
			}
			.nav-number{
				padding: $spacing*3 $spacing*4;
				width:100%;
				img{	width:100%;
					height: auto;}
			}
		}
		.menu-footer{
			padding: $spacing*3 $spacing*2;
			display: flex;
			align-items: center;
			justify-content: center;
			border-top:1px solid $white;
			img{
				width:100%;
				height: auto;
			}
			span{
				width:1px;
				background: $white;
				margin:  0 $spacing*2;
				height: 30px;
			}
		}
	}
}


.page-container{
	margin: 0 auto;
	display: flex;
}
.page-content{
	padding: 0 $spacing*3;
	width:100%;
	.wrapper{
		max-width: $contL;
		margin: 0 auto;
	}
}

.image-container{
	margin-top: $spacing*12;
	img{
		width:100%;
		height: auto;
	}
	.image-caption{
		margin-top: $spacing;
		padding-top: $spacing;
		border-top:1px solid $black;
		p{
			font-family: $termina;
			font-size: $sizecaption;
			text-align: left;
			width: 80%;
			text-transform: uppercase;
			color: $grey;
			span{color:$red;}
		}
	}
}
.slide-captions{
	margin-top: $spacing;
	padding-top: $spacing;
	border-top:1px solid $black;
	display: flex;
	span{
		color:$red;
		font-family: $termina;
		font-size: $sizecaption;
	}
	p{
		font-family: $termina;
		font-size: $sizecaption;
		text-align: left;
		width: 80%;
		text-transform: uppercase;
		color: $grey;

	}
}

.text-container{
	max-width: $contS;
	margin: $spacing*12 0 $spacing*12 auto;
	.text-header{
		margin-bottom: $spacing*5;
		padding-bottom: $spacing;
		border-bottom: 1px solid $black;
		display: flex;
		flex-direction: column;
		align-items: center;
		.header-author{
			text-align: center;
		}
		.date{
			font-family: $termina;
			font-size: $sizecaption;
			color: $red;
			padding: $spacing 10px;
			line-height: 1;
			border: 1px solid $red;
			border-radius: 60px;
			margin-bottom: $spacing;
			display: inline-block;
		}
		.author{
			font-family: $termina;
			font-size: $sizecaption;
			span{
				font-family: 'Lora', serif;
				font-style: italic;
				margin-right: $spacing/2;
			}
		}
	}
	.dropcap{
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: normal;
		float: left;
		height: 60px;
		width:60px;
		background: $black;
		padding: $spacing;
		margin: $spacing;
		margin-right: $spacing*2;
		font-size: 38px;
		font-family: $termina;
		color: $white;
		border-radius: 100%;
	}
	a{
		color:black;
	}
}

.quote-section{
	display: flex;
	.quote-author{
		writing-mode: vertical-rl;
		text-orientation: mixed;
		color:$red;
		text-align: center;
		padding-right: $spacing;
		padding-top: 40px;
		text-transform: uppercase;
		font-family: $termina;
		font-size: $sizecaption;
		transform: rotate(180DEG);
		font-weight: 500;
	}
	.quote-container{
		padding-left: $spacing;
		h2{
			font-family: $fontTitle;
			padding-left: $spacing*2;
			font-size: 40px;
			text-transform: uppercase;
			line-height: 1.05;
			border-left: 5px solid $red;
		}
		.hr{
			height: 1px;
			background: black;
			width:100%;
			margin-top: $spacing*2;
		}
		.image-quote{
			float: left;
			padding-right: $spacing*2;
			padding-left: 0;
			padding-top: 0;
			img{
				width:70px;
				height: 70px;
			}
		}
	}
	.quote-caption{
		padding-top: $spacing;
		font-family: $termina;
		text-transform: uppercase;
		color: $grey;
		font-size: $sizecaption;
	}
}


.slideshow{
	max-width: $contL;
	width:100%;
	padding: 0 $spacing*4;
	margin: $spacing*12 auto;
	position:relative;
	.swiper{
		width:100%;
	}
	.swiper-button-prev-custom{
		position: absolute;
		top: calc(50% - 50px);
		left: -2px;
		z-index: 9;
		cursor: pointer;
	}
	.swiper-button-next-custom{
		position: absolute;
		top: calc(50% - 50px);
		right: -2px;
		z-index: 9;
		cursor: pointer;
	}
	.swiper-slide{
		width:100% !important;
		display: flex;
		img{
			width:100%;
			height: auto;
		}
	}
	.slide-captions{
		margin-top: $spacing*2;
		padding-top: $spacing;
		border-top:1px solid $black;
		.current-title{
			font-family: $termina;
			font-size: $sizecaption;
			text-align: left;
			width: 80%;
			text-transform: uppercase;
			color: $grey;
			span{color:$red;}
		}
	}
}

.section-title{
	display: flex;
	align-items: center;
	padding-bottom: $spacing*2;
	span{
		height: 1px;
		background: $red;
		width:100%;
	}
	h4{
		text-transform: uppercase;
		font-size: $sizecaption;
		color:$red;
		font-family: $termina;
		font-weight: 500;
		white-space: nowrap;
		margin: 0 $spacing*2;
		line-height: 1;
	}
}
.chapter-section{
	margin: $spacing*12 auto;
	max-width: $contL;
}
.chapter-container{
	background: $black;
	padding: $spacing*2;
	.wrapper{
		border: 1px solid $white;
		display: flex;
		.col-1{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color:$white;
			padding: $spacing;
			flex:1;
			.date{
				font-family: $termina;
				font-size: 12px;
				padding: 6px $spacing*2;
				border:1px solid $white;
				border-radius: 60px;
				margin-bottom: $spacing*2;
			}
		}
		.col{
			flex:2;
			padding: $spacing*2;
			display: flex;
			align-items: center;
			h5{
				font-family: $fontTitle;
				font-size: 45px;
				line-height: 1;
				color: $white;
				text-transform: uppercase;
			}
			p{
				color:$white;
				font-size: 16px;
			}
			&:nth-child(2){
				border-left:1px solid $white;
				border-right:1px solid $white;
			}
		}
	}
}


footer{
	margin: 0 0 0 auto;
	margin-right: -$spacing*3;
	background: $black;
	padding: $spacing*2;
	padding-bottom: $spacing*3;
	a{color:white; text-decoration: none;}
	.footer-container{
		border: 1px solid $white;
		.row{
			display: flex;
			.col{
				span{
					color:white;
					text-transform: uppercase;
					font-size: 12px;
					font-family: $termina;
				}
				h4{
					font-size: 35px;
					font-family: $fontTitle;
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					a{
						display: flex;
						align-items: center;
						flex-wrap: wrap;
					}
					span{
						font-size: 18px;
						margin: 0 $spacing;
					}
				}
				width:33.33%;
				padding: $spacing*2;
				&:nth-child(2){
					border-left:1px solid $white;
					border-right: 1px solid $white;
					img{
						width:110px;
						height: auto;
					}
				}
				&:nth-child(3){
					flex:1;
				}
			}
		}
		.row-credits{
			padding: $spacing*2;
			border-top:1px solid $white;
			text-align: center;
			color:white;
			text-transform: uppercase;
			font-size: 12px;
			font-family: $termina;
		}
	}
}

// LONGFORM 2
.mosaico-2{
	.mosaico-container{
		flex-direction: row-reverse;
		.col-left-mosaico{
			padding-left: 8px;
			padding-right: 0;
		}
		.col-right-mosaico{
			padding-right: 8px;
			padding-left: 0;
		}
	}
}
.mosaico-container{
	display: flex;
	 .image-caption p{
		width:100%;
	}
	.col-left-mosaico{
		display: flex;
		flex-direction: column;
		width:50%;
		padding-right: 8px;
		.image-container-mosaico:last-child img{
			margin-top: $spacing*2;
		}
		.last-caption{
			height: 100px;
		}
	}
	.col-right-mosaico{
		width:50%;
		padding-left: 8px;
		.image-container-mosaico{
			height: 100%;
			img{
				min-height: 100%;
				object-fit: cover;
			}
		}
	}
}


// @media (min-width: 829px) and (max-width:1024px){
// 	.hero .hero-background{
// 		height: 85vh;
// 	}
// }

@media only screen and (max-width: 320px) {
	.hero .hero-background{
		height: 130vh;
	}
}



// MOBILE

.mobile, .mobile-small{display: none !important;}
.desktop, .desktop-small{display: flex !important;}

@media only screen and (max-width: 820px) {

	.mobile, .mobile-small{display: flex !important;}
	.desktop, .desktop-small{display: none !important;}

body{
	font-size: 18px;
}

.page-container{
	flex-direction: column;
}

.menu-fixed{
	height: 100px;
	flex-direction: row;
	min-width: unset;
	width:100%;
	margin-left: 0;
	background: $black;
	z-index: 999;
	padding: $spacing;
	padding-right: 0;
	.menu-container{
		flex-direction: row;
			border-right: none;
		width:100%;
		.navigation{
			flex-direction: row;
			width:100%;
			.menu-toggle{
				padding: $spacing;
				height: 80px;
				span{
					font-size: 10px;
				}
			}
		}
		.logo{
			min-height: unset;
			height: 100%;
			min-width:33%;
			max-width: 33%;
			border-bottom: none;
			border-right:1px solid $white;
			padding: 5px;
			img{
				width:80%;
				max-height: 65px;
			}
		}

		.menu-footer{
			border-top:0;
			border-left:1px solid $white;
			padding: $spacing;
			min-width: 28vw;
		}
	}
}


.menu-full{
	left: 0;
	height: calc(100vh - 100px);
	width:100%;
	top:100px;
	.menu-title{
		padding: $spacing*2 0;
		margin-bottom: 0;
		h3{
			span{
				font-size: 14px;
				line-height: 1;
			}
		}
	}
	.menu-container{
		.menu-row{
			padding: 0 $spacing;
			.link-wrapper{
				flex-direction: column;
				overflow-y: scroll;
				&::-webkit-scrollbar {
					  display: none;
					}
					-ms-overflow-style: none;
					scrollbar-width: none;
				.menu-item{
					padding: $spacing*3 $spacing;
					&:nth-child(2){
						border: none;
						border-top:1px solid $white;
						border-bottom:1px solid $white;
					}
					&:last-child{
						padding-bottom: 80px;
					}
					.menu-item-title{
						font-size: 25px;
						margin: $spacing*2 0;
					}
					.number{
						font-size: 25px;
					}
				}
			}
		}

	}
}

.page-content{
	padding: 0 $spacing;
}

.hero{
	padding: 0;
	padding-top: $spacing*2;
	.hero-background{
		left: 0;
		width:100%;
	}
	.hero-footer{
		.scroll span{
			font-size: 12px;
		}
	}
	.occhiello{
		padding: 0 $spacing*2;
		span{
			font-size: 13px;
			line-height: 1;
			white-space: nowrap;
			margin: 0 8px;
		}
	}
	.title{
		width:100%;
		padding: 0 $spacing*2;
		.number{
			font-size: 30px;
		}
		h1{
			width:100%;
			font-size: 40px;
			margin: $spacing*3 0;
		}

	}
}

.quote-section{
	flex-direction: column;
	.quote-author{
		text-orientation: unset;
		transform: none;
		writing-mode: unset;
		padding-bottom: $spacing;
		margin-bottom: $spacing*2;
		border-bottom: 5px solid $red;
		padding-top: 0;
	}
	.quote-container{
		h2{
			padding-left: 0;
			border-left:none;
			font-size: 30px;
		}
	}
	.quote-caption{
		font-size: 12px;
	}
}

.section-title{
	h4{
		white-space: normal;
		min-width: 60vw;
		text-align: center;
	}
}

.image-container{
	.image-caption{
		p{
			width: 100%;
			font-size: 12px;
		}
	}
}


.text-container{
	margin: $spacing*8 0;
	.text-header{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		padding:$spacing;
		.header-author{
			text-align: left;
		}
	}
}

.slideshow{
	padding: 0 $spacing;
	margin: $spacing*8 0;
	.swiper-button-next-custom{
		width:45px;
		img{
			width:100%;
			height: auto;
		}
	}
	.swiper-button-prev-custom{
		width:45px;
		img{
			width:100%;
			height: auto;
		}
	}
	.slide-captions{
		p{
			width:100%;
		}
		.current-title{
			width: 100%;
			font-size: 12px;
			span{
				font-size: 12px;
			}
		}
	}
}

.chapter-section{
	margin: $spacing*8 0;
}
.chapter-container{
	.wrapper{
		flex-direction: column;
		.col-1{
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			padding: $spacing*3;
			.date{
				margin-bottom: 0;
			}
		}
		.col{
			text-align: center;
			justify-content: center;
			&:nth-child(2){
				border: none;
				border-top: 1px solid $white;
				border-bottom: 1px solid $white;
			}
		}
	}
}

footer{
	margin-right: -$spacing;
	margin-left: -$spacing;
	padding-bottom: 0;
	.footer-container{
		border-bottom: none;
		.row-credits{
			padding: $spacing*4 0;
		}
		.row{
			flex-direction: column;
			.col{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				padding: $spacing*5 $spacing;
				width:100%;
				&:nth-child(2){
					border-top: 1px solid $white;
					border-bottom: 1px solid $white;
				}
			}
		}
	}
}


}
