@import "font.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div, section{
  box-sizing: border-box;
}

*{
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

$ap-reg: "apfel-reg", sans-serif;
$ap-bold: "apfel-bold", sans-serif;
$plex-sans: 'IBM Plex Sans', sans-serif;
$plaex-serif:'IBM Plex Serif', serif;

// VARIABLES
$spacing: 8px;
$line_height: 1.25;
$padding: 3vw;
$width: 80vw;

$text-width:70vw;
$info-width:75vw;
$offset: calc((#{$info-width} - #{$text-width})/2);

$mainTitle: 5.5vw;
$size-body: 20px;
$size-quote: 24px;
$size-small: 16px;

$blu: #3B7AF3;
$black: #131313;

body{
	line-height: $line_height;
	color:$black;
	overflow-x:hidden;
	font-family: $ap-reg;
	font-size: $size-body;
}


.page-width{
  padding: 0 $padding;
}
.center-text{
  max-width:$width;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

// policy
.iubenda-cs-container{
	em{
		-webkit-text-stroke-width: unset;
    -webkit-text-fill-color: unset;
    -webkit-text-stroke-color: black;
	}
}

// text animation
.animation-text, .animation-text-hero{
	overflow:hidden;
}
.split-line {
  overflow: hidden;
}

.page-container{
	background: white;
}

.hr{
	background: white;
	width:100%;
	height: 2px;
	display: block;
	margin-bottom: $spacing*2;
}

.dropcap {
	font-size: 50px;
	float:left;
	width: 80px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:$blu;
	margin-right: $spacing*2;
	font-family: $ap-bold;
}

// INIZIO INIZIO INIZIO INIZIO INIZIO INIZIO


.text-section{
	padding: $spacing*10 $spacing*5;
	padding-bottom:0;
	&.intro-section{
		.text-container{
			background: $blu;
			border-radius: 16px;
			padding: $spacing*8;
			color:white;
			p{
				font-family: $ap-reg;
				font-size: $size-quote;
			}
		}
	}
}

.text-container{
	width:$text-width;
	margin: 0 auto;
	padding: 0 $spacing*2;
	p{
		margin-bottom:$spacing*3;
		line-height: $line_height;
		font-weight: normal;
		font-family: $plaex-serif;
		&:last-child{
			margin-bottom: 0px;
		}
	}
}

.section-header--full{
	width: $text-width;
	margin: 0 auto;
	display: flex;
	align-items: center;
	margin-bottom: $spacing*4;
	align-items: center;
	font-family: $ap-bold;
	span{
		width: 70px;
		font-weight: bold;
		height: 70px;
		margin-right: $spacing*2;
		color:white;
		background: $blu;
		display: flex;
		justify-content: center;
		align-items:center;
		position: relative;
	}
	h1{
		color:$blu;
		border:2px solid $blu;
		border-radius: 30px;
		padding: 5px 8px;
		margin: 0 $spacing;
		white-space: nowrap;
		text-transform: uppercase;
	}
}

// hero section

.hero{
	width:100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.hero-images{
		position: absolute;
		width:100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
	}
	.hero-text{
		max-width: 60vw;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.hero-social ul{
			display: flex;
			align-items: center;
			margin-bottom: $spacing*4;
			li{
				display: flex;
				align-items: center;
				padding: 0 4px;
			}
		}
		.hero-title{
			color:$blu;
			font-size: $mainTitle;
			line-height: 1;
			margin-bottom: $spacing*4;
			font-family: $ap-bold;
		}
		.hero-subtitle{
			margin-bottom: $spacing*5;
		}
		.hero-author{
			color:$blu;
			font-family: $ap-bold;
			font-size: $size-small;
			span{
				color:black;
				font-family: $plaex-serif;
				font-style: italic;
				margin-right: 3px;
			}
		}
	}

}


// footer
footer{
	background: $blu;
	color:white;
	a{color:white;}
	.footer-container{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		position: relative;
		padding:$spacing*4;
		max-width: 900px;
		width: 60vw;
		margin: 0 auto;
		.footer-info{
			font-weight: bold;
			display: flex;
			justify-content: center;
			width: 80%;
			margin: 0 auto;
			margin-bottom: $spacing*3;
			.col-footer{
				flex: 1;
				text-align: center;
				span{
					display: block;
				}
				img{
					display: block;
					margin: 0 auto;
					margin-top: $spacing;
				}
				&:first-child{
					text-align: left;
					span{
						text-align: left;
					}
				}
				&:last-child{
					text-align: right;
					span{
						text-align:right;
					}
				}
			}
		}
		.footer-copy{
			width:100%;
			text-align: center;
			width: 70%;
			margin: 0 auto;
			font-weight: 500;
		}
	}
}
.arrow-top{
	position: absolute;
	height: 70px;
	width:70px;
	border-radius: 100%;
	background: $blu;
	color:white;
	display: flex;
	justify-content: center;
	align-items:center;
	top: calc(50% - 35px);
	left: -35px;
	cursor: pointer;
}


// WIDE DESKTOP

@media (min-width: 1440px){
	.infografica-full-white .infografica-full-white-container{
		max-width: 1300px;
	}
	.quote .quote-container .quote-inner #quote{
		font-size: 70px;
	}
	.infografica-full .infografica-container{
		max-width: 1300px;
	}
	.section-header--full{
		max-width: 1000px;
		h1{
			font-size: 50px;
		}
		span{
			font-size: 55px;
		}
	}
	.info-row.info-row-left {
    margin-right: 15vw;
	}
	.info-row.info-row-right {
		margin-left: 15vw;
	}
}


// mobile

.mobile, .mobile-small{display: none !important;}
.desktop, .desktop-small{display: flex !important;}


@media only screen and (max-width: 768px) {

	.mobile{
		display: flex!important;
	}
	.desktop{
		display: none !important;
	}

	.dropcap{
		height: 80px;
		&.black{
			margin-right: $spacing*3;
			margin-bottom: $spacing;
		}
	}

	.text-section{

		&.second-section{
			padding-bottom:$spacing*3;
		}
		padding:$spacing*5 $spacing*3 $spacing*5 $spacing*3;
		padding-bottom:0px;
		.text-container{
			width:100%;
			margin-bottom: $spacing*5;
			p{

			}
		}
	}


	.section-header--full{
		width:100%;
		margin:0px;
		margin-bottom: $spacing*5;
		margin-top: $spacing;
		align-items: center;
		border-radius: 15px;
		span{

			border-radius: 5px;
			height: 60px;
			width:60px;
			min-width: 60px;
			margin-bottom: 0px;
			&:after{
				height: 50px;
			}
		}
		h1{

			line-height: 1.1;
			height: auto;
			padding-top: 0px;
			display: table-cell;
		}
	}

	.section-header--full{
		padding:$spacing;
		margin-bottom: $spacing*3;
		h1{

			line-height: 1;
		}
		span{
			margin-right: 0px;
		}
	}

	footer{
		width:100%;
		margin:0px;
		height: auto;
		border-radius: 20px;
		.arrow-top{
			height: 50px;
	    right: -19px;
	    top: -25px;
			left: unset;
	    width: 50px;
			svg{
				height: 20px;
			}
		}
		.footer-container{
			padding:$spacing*4 $spacing*3;
			height: fit-content;
			.footer-info{
				flex-wrap: wrap;
				justify-content: space-between;
				width:100%;
				margin-bottom: 0px;
				.col-footer{

					&:first-child{
						order:1;
						width:50%;
					}
					&:last-child{
						order:2;
						width:50%;
					}
					&:nth-child(2){
						order:3;
						min-width:100%;
						margin:$spacing*3 0;
						margin-bottom: $spacing*4;
					}
				}
			}
			.footer-copy{
				width:100%;
			}
		}
	}

}

@media only screen and (max-width: 768px) {

.page-container{
	overflow-x: hidden;
}
}
