@import "font.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div, section{
  box-sizing: border-box;
}

*{
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

$ap-reg: "apfel-reg", sans-serif;
$ap-bold: "apfel-bold", sans-serif;
$plex-sans: 'IBM Plex Sans', sans-serif;
$plaex-serif:'IBM Plex Serif', serif;

// VARIABLES
$spacing: 8px;
$line_height: 1.25;
$padding: 3vw;
$width: 80vw;

$text-width:70vw;
$info-width:75vw;
$offset: calc((#{$info-width} - #{$text-width})/2);

$mainTitle: 64px;
$size-body: 20px;
$size-quote: 24px;
$size-small: 16px;

$blu: #3B7AF3;
$black: #131313;

@mixin circle{
	width:40px;
	height: 40px;
	background: $blu;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	.inner-circle{
		background: white;
		width:4px;
		height: 4px;
		border-radius: 50px;
	}
}

body{
	line-height: $line_height;
	color:$black;
	overflow-x:hidden;
	font-family: $ap-reg;
	font-size: $size-body;
}


.page-width{
  padding: 0 $padding;
}
.center-text{
  max-width:$width;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

// policy
.iubenda-cs-container{
	em{
		-webkit-text-stroke-width: unset;
    -webkit-text-fill-color: unset;
    -webkit-text-stroke-color: black;
	}
}

// text animation
.animation-text, .animation-text-hero{
	overflow:hidden;
}
.split-line {
  overflow: hidden;
}

.page-container{
	background: white;
	padding-bottom: $spacing*12;
	position: relative;
}

.hr{
	background: $blu;
	height: 2px;
	display: block;
	margin: 0 $spacing*6;
}

.dropcap {
	font-size: 50px;
	float:left;
	width: 80px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:$blu;
	margin-right: $spacing*2;
	font-family: $ap-bold;
}

// INIZIO INIZIO INIZIO INIZIO INIZIO INIZIO


.text-section{
	padding: $spacing*12 $spacing*5;
	padding-bottom:0;
	z-index: 2;
	pointer-events: none;
	position: relative;
	&.intro-section{
		.text-container{
			background: $blu;
			border-radius: 16px;
			padding: $spacing*4;
			color:white;
			position: relative;
			p{
				font-family: $ap-reg;
				font-size: $size-quote;
				border:2px solid white;
				padding: $spacing*4;
				text-align: center;
				position: relative;
			}
			.circle{
				&:first-child{
					@include circle;
					top:-20px;
					left: -20px;
				}
				&:nth-child(2){
					@include circle;
					top:-20px;
					right: -20px;
				}
				&:nth-child(3){
					@include circle;
					bottom:-20px;
					left: -20px;
				}
				&:nth-child(4){
					@include circle;
					bottom:-20px;
					right: -20px;
				}
			}
		}
	}
}

.text-container{
	width:$text-width;
	margin: 0 auto;
	padding: 0 $spacing*2;
	max-width: 1200px;
	p{
		margin-bottom:$spacing*3;
		line-height: $line_height;
		font-weight: normal;
		font-family: $plaex-serif;
		&:last-child{
			margin-bottom: 0px;
		}
	}
}

.section-header--full{
	width: $text-width;
	margin: 0 auto;
	display: flex;
	align-items: center;
	margin-bottom: $spacing*4;
	font-family: $ap-bold;
	justify-content: center;
	span{
		width: 70px;
		font-weight: bold;
		height: 70px;
		margin-right: $spacing*2;
		color:white;
		background: $blu;
		display: flex;
		justify-content: center;
		align-items:center;
		position: relative;
	}
	h1{
		color:$blu;
		border:2px solid $blu;
		border-radius: 30px;
		padding: 5px 8px;
		margin: 0 $spacing;
		white-space: nowrap;
		text-transform: uppercase;
	}
}

// hero section

.hero{
	width:100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	a{
		display: flex;
		justify-content: center;
	}
	.logo{
		position: absolute;
		top:$spacing*4;
		z-index: 99;
		img{
			width:180px;
		}
	}
	.hero-images{
		position: absolute;
		top:0;
		left: 0;
		width:100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		z-index: 1;
		overflow: hidden;
		img{
			width:100%;
			height:auto;
		}
		.hero-image-left{
			width: 40%;
			height: 100%;
			position: relative;
			.image-hero{
				position: absolute;
				&:first-child{
					width:30%;
					top:20%;
					left: 10%;
					z-index: 2;
				}
				&:nth-child(2){
					width:30%;
					top:50%;
					left: 20%;
					z-index: 2;
				}
				&:nth-child(3){
					width:35%;
					top:22%;
					left: 35%;
					z-index: 1;
				}
				&:nth-child(4){
					width:35%;
					top:65%;
					left: 23%;
					z-index: 1;
				}
			}
		}
		.hero-image-right{
			width: 40%;
			height: 100%;
			position: relative;
			.image-hero{
				position: absolute;
				&:first-child{
					width:30%;
					top:20%;
					right: 10%;
					z-index: 2;
				}
				&:nth-child(2){
					width:30%;
					top:50%;
					right: 20%;
					z-index: 2;
				}
				&:nth-child(3){
					width:35%;
					top:50%;
					right: 40%;
					z-index: 1;
				}
				&:nth-child(4){
					width:35%;
					top:10%;
					right: 10%;
					z-index: 1;
				}
			}
		}
	}
	.hero-text{
		width: 60vw;
		max-width: 1000px;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		z-index: 2;
		pointer-events: none;
		.hero-social ul{
			display: flex;
			align-items: center;
			margin-bottom: $spacing*4;
			pointer-events: auto;
			li{
				display: flex;
				align-items: center;
				padding: 0 4px;
				#twitter-logo{
					width:25px;
				}
				#facebook-logo{
					width: 15px;
				}
			}
		}
		.hero-title{
			color:$blu;
			font-size: $mainTitle;
			line-height: 1;
			margin-bottom: $spacing*4;
			font-family: $ap-bold;
		}
		.hero-subtitle{
			margin-bottom: $spacing*5;
		}
		.hero-author{
			color:$blu;
			font-family: $ap-bold;
			font-size: $size-small;
			span{
				color:black;
				font-family: $plaex-serif;
				font-style: italic;
				margin-right: 3px;
			}
		}
	}

}


// illustrations
.background-illu{
	position: absolute;
	width:100%;
	height: 100%;
	z-index: 1;
}

// gallery ok
img[data-loaded="true"], [data-loaded="true"] img { animation-name: showLazyImg; animation-duration: 0.7s; animation-fill-mode: both; } @keyframes showLazyImg { from { opacity: 0; } to { opacity: 1; } }

.image-gallery{
	overflow: hidden;
	margin: $spacing*2;
}

.image-gallery-container{
	&::-webkit-scrollbar {
  display: none;
	}
	 -ms-overflow-style: none;
  scrollbar-width: none;
	.single-image{
		height: fit-content;
		position: relative;
		width:fit-content;
		width: 33.33%;
		padding: 16px;
		img{
			width:100%;
			height: auto;
			display: flex;
		}
		&:hover{
			.image-details{
				opacity: 1;
			}
		}
		.image-details{
			position: absolute;
			color:white;
			padding: $spacing*2;
			top:$spacing*2;
			height: calc(100% - 32px);
			width: calc(100% - 32px);
			left: $spacing*2;
			opacity: 0;
			transition: .2s ease;
			background: rgba(0, 0, 0, 0.85);
			display: flex;
			flex-direction: column;
			overflow-y: scroll;
			div{
				display: flex;
				font-family: $ap-bold;
				margin-bottom: $spacing;
				flex-direction: column;
				font-size: $size-small;
				span{
					font-family: 'IBM Plex Mono', monospace;
					margin-bottom: $spacing/2;
					font-size: 14px;
				}
			}
		}
	}
}



/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 85%;
  max-height: 80vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */

@keyframes zoom {
  from {transform:scale(0.8)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 14px;
  right: 24px;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 768px){
  .modal-content {
    width: 100%;
    padding:$spacing*2;
  }
  .close {
    top: 10px;
    right: 16px;
  }
}

// footer
footer{
	background: $blu;
	color:white;
	a{color:white;}
	font-family: $ap-bold;
	margin-top: $spacing*12;
	position: relative;
	.footer-container{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		position: relative;
		padding:$spacing*10 $spacing*4;
		margin: 0 auto;
		.footer-info{
			font-weight: bold;
			display: flex;
			justify-content: center;
			margin: 0 auto;
			margin-bottom: $spacing*5;
			width: 70vw;
			.col-footer{
				flex: 1;
				text-align: center;
				span{
					display: block;
				}
				img{
					display: block;
					margin: 0 auto;
					margin-top: $spacing;
				}
				&:first-child{
					text-align: left;
					span{
						text-align: left;
					}
				}
				&:last-child{
					text-align: right;
					span{
						text-align:right;
					}
				}
			}
		}
		.footer-copy{
			width:100%;
			text-align: center;
			margin: 0 auto;
			max-width: 80vw;
			font-size: $size-small;
			z-index: 2;
			div{
				font-size: $size-body;
				padding-bottom: $spacing*2;
			}
		}
	}
}
.arrow-top{
	position: absolute;
	height: 60px;
	width:60px;
	border-radius: 100%;
	background: $blu;
	color:white;
	display: flex;
	justify-content: center;
	align-items:center;
	top: -30px;
	border:3px solid white;
	cursor: pointer;
}
#footer1{
	position: absolute;
	bottom:0;
	left: 0px;
	z-index: 1;
}
#footer2{
	position: absolute;
	bottom:0;
	left: 200px;
	z-index: 1;
}
#footer3{
	position: absolute;
	bottom:0;
	right: 280px;
	z-index: 1;
}
#footer4{
	position: absolute;
	bottom:0;
	right: 0px;
	z-index: 1;
}


// mobile

.mobile, .mobile-small{display: none !important;}
.desktop, .desktop-small{display: flex !important;}

	@media only screen and (max-width: 1300px) {
	.image-gallery-container .single-image{
		width:50%;
	}

}

@media only screen and (max-width: 768px) {

	.mobile{
		display: flex!important;
	}
	.desktop{
		display: none !important;
	}
	.hr{
		display: none;
	}
	.gallery-line{
		display: block;
		margin: 0 $spacing*3;
	}

	.dropcap{
		height: 80px;
		&.black{
			margin-right: $spacing*3;
			margin-bottom: $spacing;
		}
	}

	.text-section{
		&.second-section{
			padding-bottom:$spacing*3;
		}
		padding:$spacing*5 $spacing*3 $spacing*5 $spacing*3;
		padding-bottom:0px;
		.text-container{
			width:100%;
			padding:0;
		}
	}


	.section-header--full{
		width:100%;
		margin:0px;
		margin-bottom: $spacing*5;
		margin-top: $spacing;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		justify-content: center;
		border-radius: 15px;
		span{
			border-radius: 5px;
			height: 60px;
			width:60px;
			min-width: 60px;
			margin-bottom: 0px;
			&:after{
				height: 50px;
			}
		}
	}

	.section-header--full{
		padding:$spacing;
		margin-bottom: $spacing*3;
		span{
			margin-right: 0px;
		}
		h1{
			padding:2px $spacing*2;
			font-size: $size-small;
		}
	}

	.hero{
		height: auto;
		flex-direction: column-reverse;
		overflow: hidden;
		.hero-images{
			position: relative;
			height: 80vh;
			.hero-image-left{
				width:100%;
				.image-hero{
					&:first-child{
						left: 10%;
				    top: 0%;
				    width: 50%;
				    z-index: 2;
					}
					&:nth-child(2){
						left: 7%;
				    top: 33%;
				    width: 37%;
						z-index: 2;
					}
					&:nth-child(3){
						left: 48%;
				    top: 24%;
				    width: 60%;
					}
				}
			}
			.hero-image-right{
				display: none;
			}
		}
		.logo{
			top:$spacing*3;
		}
		.hero-text{
			height: 100vh;
			width:100%;
			display: flex;
			align-items:center;
			max-width: 100%;
			padding: 0 $spacing*3;
			.hero-social{
				margin-top: $spacing*5;
			}
			.hero-title{
				font-size: 40px;
			}
		}
	}

	.text-section.intro-section{
		padding: 0 !important;
		.text-container{
			border-radius: 0;
			padding: $spacing*4 $spacing*3;
			p{
				font-size:$size-body;
				border-left:none;
				border-right: none;
				padding: $spacing*2 0;
			}
		}
	}

	.background-illu{
		top:100vh;
		pointer-events: none;
	}

	.image-gallery-container .single-image{
		width:100%;
	}
	.image-gallery{
		.image-gallery-container{
			.single-image{
				.image-details{
					overflow-y: scroll;
					div{
						font-size: 14px;
						margin-bottom: 8px;
						span{
							margin-bottom: 1px;
						}
					}
				}
			}
		}
	}

	footer .footer-container{
		padding:$spacing*10 $spacing*3;
		.footer-info{
			flex-direction: column;
			margin-bottom: $spacing*3;
			width:100%;
			.col-footer{
				text-align: left !important;
				margin-bottom: $spacing*4;
				img{
					margin: 0;
					margin-top: $spacing;
				}
				span{
				text-align: left !important;
				}
			}
		}
		.footer-copy{
			max-width: 100%;
			text-align: left;
		}
	}
	#footer1{
		bottom:0;
		left: 0px;
		height: 22vh;
	}
	#footer2{
		left: 60%;
    top: 30%;
    height: 15vh;
		bottom: unset;
	}
	#footer3{
		top:60%;
		right: 30px;
		height: 20vh;
	}
	#footer4{
		bottom:unset;
		top:0px;
		right: 0px;
		height: 20vh;
	}




}
