body{
  padding: $spacing*2;
  background: $white;
  font-size: $size_text;
  line-height: 1.4;
  color: $black;
  font-family: $plex;
}

.section_hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $spacing*2;
  height: calc(100vh - 32px);
  margin-bottom: $spacing*2;
  .hero_left{
    padding: $spacing*4 $spacing*2;
    height: 100%;
    background: $green;
    color: $white;
    border-radius: $radius;
    position: relative;
    .hero_text_container{
      margin-top: $spacing*6;
      h1{
        font-size: $size_hero;
        margin-bottom: $spacing*3;
        line-height: 1.1;
        font-family: $futura;
        font-weight: 500;
      }
      p{
        margin-bottom: $spacing*3;
      }
      span{
        text-transform: uppercase;
      }
    }
    .hero_footer{
      position: absolute;
      width:calc(100% - 40px);
      left: 0;
      padding: $spacing*2;
      bottom: $spacing*2;
      display: flex;
      justify-content: space-between;
      align-items:center;
    }
    .social-list{
      display: flex;
      align-items: center;
      background: $white;
      padding: $spacing/2 $spacing*2;
      height: 35px;
      border-radius: 100px;
      .line-divider{
        height: 1px;
        background: $green;
        width:80px;
        margin: 0 $spacing;
      }
    }
  }
    .hero_right{
    height: 100%;
    border-radius: $radius;
    }
}

.section_text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $spacing*2;
  margin-bottom: $spacing*2;
}

.col_image{
  border-radius: $radius;
  overflow: hidden;
  position: relative;
  .image_description{
    position: absolute;
    bottom:0;
    background: rgba(0,0,0,0.5);
    padding:10px $spacing*2;
    width:100%;
    p{
      margin-bottom: 10px;
    }
  }
  &.doppia_card{
    display: flex;
    flex-direction: column;
    .card_top{
      position: relative;
      margin-bottom: $spacing*2;
      .image_container{
      }
    }
    .card_bottom{
      background: $grey;
      font-size: 25px;
      border-radius: $radius;
      overflow: hidden;
      .card_quote{
        padding: $spacing*4 $spacing*2;
      }
      .card_description{
        background: white;
        padding:10px $spacing*2;
      }
    }
  }
}

.col_text{
  border-radius: $radius;
  padding: $spacing*4 $spacing*2;
  background: white;
  .author{
    background: $grey;
    padding: $spacing/2 $spacing*2;
    width: fit-content;
    border-radius: 100px;
    margin-bottom: $spacing*6;
  }
  .title_chapter{
    h2{
      font-size: $size_head;
      color:$grey;
      margin-bottom: $spacing*6;
    }
    .line_separator{
      width:40%;
      height: 1px;
      background: $grey;
      margin-bottom: $spacing*2;
    }
  }
  &.brown_back{
    background: $grey;
    .title_chapter{
      h2{
        color:$black;
      }
      .line_separator{
        background: $black;
      }
    }
  }
}


.section_timeline{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: $spacing*2;
  margin-bottom: $spacing*2;
  .card_time{
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .num{
      padding: $spacing*4 $spacing*2;
      @include center;
      background: $grey;
    }
    .info{
      padding: $spacing*4 $spacing*2;
      @include center;
      background: white;
      height: 150px;
      text-align: center;
    }
  }
}
