body{
  background: $white;
  font-size: $size_text;
  line-height: 1.4;
  color: $black;
  font-family: $plex;
}

.section_hero{
  padding: $spacing*2;
  padding-bottom: 0;
  height: calc(100vh - 32px);
  margin-bottom: $spacing*2;
  .section_hero_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing*2;
    height: 100%;
  }
  .hero_left{
    padding: $spacing*4 $spacing*2;
    height: 100%;
    background: $green;
    color: $white;
    border-radius: $radius;
    position: relative;
    .hero_text_container{
      margin-top: $spacing*6;
      h1{
        font-size: $size_hero;
        margin-bottom: $spacing*3;
        line-height: 1;
        font-family: $futura;
        font-weight: 500;
      }
      p{
        margin-bottom: $spacing*3;
      }
      span{
        text-transform: uppercase;
        font-family: $futura;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .hero_footer{
      position: absolute;
      width:calc(100% - 40px);
      left: 0;
      padding: $spacing*2;
      bottom: $spacing*2;
      display: flex;
      justify-content: space-between;
      align-items:center;
    }
    .social-list{
      display: flex;
      align-items: center;
      background: $white;
      padding: $spacing/2 $spacing*2;
      height: 35px;
      border-radius: 100px;
      .line-divider{
        height: 1px;
        background: $green;
        width:80px;
        margin: 0 $spacing;
      }
    }
  }
  .hero_right{
    height: 100%;
    border-radius: $radius;
    overflow: hidden;
    .swiper{
      height: 100%;
    }
    img{
      width:100%;
      min-height: 100%;
      object-fit: cover;
    }
  }
}

.section_text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $spacing*2;
  margin-bottom: $spacing*2;
  padding:0 $spacing*2;
}



.col_image{
  border-radius: $radius;
  overflow: hidden;
  position: relative;
  .image_container{
    height: 100%;
    img{
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }

  &.doppia_card{
    display: flex;
    flex-direction: column;
    .card_top{
      position: relative;
      border-radius: $radius;
      overflow: hidden;
      margin-bottom: $spacing*2;
      .image_container{
      }
    }
    .card_bottom{
      background: $grey;
      font-size: 30px;
      line-height: 1.25;
      border-radius: $radius;
      overflow: hidden;
      .card_quote{
        padding: $spacing*4 $spacing*2;
        font-family: $futura;
      }
      .card_description{
        background: white;
        padding:10px $spacing*2;
        p{
          font-size: $size_s;
          line-height: 1;
        }
        span{
          font-size: $size_xs;
        }
      }
    }
  }
}

.image_description{
  position: absolute;
  bottom:0;
  background: rgba(0,0,0,0.7);
  padding:10px $spacing*2;
  width:100%;
  color:white;
  p{
    font-size: $size_s;
    font-weight: lighter;
  }
  span{
    font-size: $size_xs;
  }
}

.col_text{
  border-radius: $radius;
  padding: $spacing*4 $spacing*2;
  background: white;
  .text_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .author{
    background: $grey;
    padding: $spacing/2 $spacing*2;
    width: fit-content;
    border-radius: 100px;
    margin-bottom: $spacing*6;
    font-family: $futura;
    font-weight: 500;
    font-size: $size_s;
  }
  .title_chapter{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
      font-size: $size_head;
      color:$grey;
      margin-bottom: $spacing*6;
      font-family: $futura;
      font-weight: 500;
    }
    .line_separator{
      width:40%;
      height: 1px;
      background: $grey;
      margin-bottom: $spacing*2;
    }
  }
  &.brown_back{
    background: $grey;
    .title_chapter{
      h2{
        color:$black;
      }
      .line_separator{
        background: $black;
      }
    }
  }
}


.section_timeline{
  padding:0 $spacing*2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: $spacing*2;
  margin-bottom: $spacing*2;
  .card_time{
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    .num{
      padding: $spacing*4 $spacing*2;
      @include center;
      background: $grey;
      color:white;
      font-size: 50px;
      span{
        font-size: 30px;
        margin-left: 5px;
      }
    }
    .info{
      padding: $spacing*4 $spacing*2;
      @include center;
      background: white;
      height: 150px;
      text-align: center;
      font-size: $size_s;
    }
  }
}

.slide_half{
  margin-bottom: $spacing*2;
  background: $green;
  padding: $spacing*2;
  .swiper-slide{
    position: relative;
    height: 500px;
    border-radius: $radius;
    overflow: hidden;
    img{
      min-height: 100%;
      width:100%;
      object-fit: cover;
    }
  }
}

.slide_quarter{
  margin-bottom: $spacing*2;
  background: $green;
  padding: $spacing*2;
  .swiper-slide{
    position: relative;
    border-radius: $radius;
    overflow: hidden;
  }
}


.swiper-button-next{
		background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' transform='rotate(-180 24 24)' fill='%23D1D1C1'/%3E%3Cpath d='M26.3267 15L35.2358 23.9091L26.3267 32.8182L25.1534 31.6648L32.0739 24.7443L14.7727 24.7443L14.7727 23.0739L32.0739 23.0739L25.1534 16.1733L26.3267 15Z' fill='%23374F35'/%3E%3C/svg%3E%0A") !important;
		background-repeat: no-repeat;
    background-position: right;
    width: 60px !important;
    height: 60px;
		&:after{
			content: none !important;
		}
}
.swiper-button-prev{
background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23D1D1C1'/%3E%3Cpath d='M21.6733 33L12.7642 24.0909L21.6733 15.1818L22.8466 16.3352L15.9261 23.2557L33.2273 23.2557V24.9261L15.9261 24.9261L22.8466 31.8267L21.6733 33Z' fill='%23374F35'/%3E%3C/svg%3E%0A") !important;
	background-repeat: no-repeat;
  background-position: initial;
  width: 60px !important;
  height: 60px;
	&:after{
		content: none !important;
	}
}


.section_full{
  margin: 0 $spacing*2;
  border-radius: $radius;
  background: $green;
  @include center;
  .image_full_container{
    padding: $spacing*2;
    width:1200px;
    max-width: 100%;
    margin: 0 auto;
    .image-crop{
      overflow: hidden;
      border-radius: $radius;
    }
    img{
      width:100%;
      height: auto;
    }
  }
}

footer{
  margin: $spacing*2;
  display: flex;
  flex-direction: column;
  background: white;
  padding: $spacing*4 $spacing*6;
  border-radius: $radius;
  .footer_container{
    display: flex;
    .footer_col{
      flex: 1;
      display: flex;
      flex-direction: column;
      &:nth-child(2){
        align-items:  center;
        text-align: center;
      }
      &:nth-child(3){
        align-items:  flex-end;
        text-align: center;
      }
      h5{
        margin-bottom: $spacing*2;
      }
      a{color:$black; font-family: $futura; font-size: 30px;}
    }
  }
  .footer_bottom_content{
    padding: $spacing*2 0;
    text-align: center;
    color: #A6A6A6;
    a{color:#A6A6A6;}
  }
}
